#cssmenu
  %ul
    %li.active
      %a{:href => '/'}
        %span Home
    %li.has-sub
      %a{:href => "#"}
        %span Apps
      %ul
        %li
          %a{:href => '/apps/locations'}
            %span Locations
        %li.last
          %a{:href => "#"}
            %span Restock Clear
        %li.last
          %a{:href => "#"}
            %span Labels
        %li.last
          %a{:href => "#"}
            %span Quote
    %li
      %a{:href => "#"}
        %span Blog